@model PaginatedList<KVA.Cinema.ViewModels.VideoDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Videos List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Videos List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Videos", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by name: <input type="text" name="SearchString" value=@ViewBag.CurrentFilter />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Videos")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Preview)
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.Name
                    ? $"Title {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Title",
                    "Index",
                    new
                    {
                        sortingField = VideoSort.Name,
                        isSortDescending = (ViewBag.SortingField == VideoSort.Name && !ViewBag.SortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.ReleasedIn
                    ? $"Released in {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Released in",
                    "Index",
                    new
                    {
                        sortingField = VideoSort.ReleasedIn,
                        isSortDescending = (ViewBag.SortingField == VideoSort.ReleasedIn && !ViewBag.SortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.Language
                    ? $"Language {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Language",
                    "Index",
                    new
                    {
                        sortingField = VideoSort.Language,
                        isSortDescending = (ViewBag.SortingField == VideoSort.Language && !ViewBag.SortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GenreNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TagNames)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @if (video.PreviewFileName != null)
                    {
                        <img src="~/upload/videoPreview/@video.PreviewFileName" alt="@video.Name preview" style="max-width: 5rem">
                    }
                    else
                    {
                        <img src="~/lib/other-icons/No-Image-Placeholder.svg" alt="No image" style="max-width: 5rem">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.ReleasedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.GenreNames)
                </td>
                <td>
                    @foreach (var tag in video.TagViewModels)
                    {
                        @Html.DisplayFor(model => tag, "_TagColor")
                    }
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = video.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = video.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = video.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage() ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage() ? "disabled" : "";
}

@Html.ActionLink("«", "Index", "Videos",
                new
                {
                    pageNumber = 1,
                    searchString = ViewBag.CurrentFilter,
                    sortingField = ViewBag.SortingField
                },
                new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink("<", "Index", "Videos",
                 new
                 {
                     pageNumber = Model.PageIndex - 1,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink(">", "Index", "Videos",
                 new
                 {
                     pageNumber = Model.PageIndex + 1,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@Html.ActionLink("»", "Index", "Videos",
                 new
                 {
                     pageNumber = Model.PagesTotal,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}