@model IEnumerable<KVA.Cinema.Models.ViewModels.Video.VideoDisplayViewModel>
@using KVA.Cinema.Models.ViewModels.Video;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Videos", null, new { @class = "btn btn-primary" })
    </p>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preview)
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.Name
                    ? $"Title {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Title",
                    "Index", new { sortingField = VideoSort.Name, isSortDescending = (ViewBag.SortingField == VideoSort.Name && !ViewBag.SortDescending) })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.ReleasedIn
                    ? $"Released in {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Released in",
                    "Index", new { sortingField = VideoSort.ReleasedIn, isSortDescending = (ViewBag.SortingField == VideoSort.ReleasedIn && !ViewBag.SortDescending) })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == VideoSort.Language
                    ? $"Language {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Language",
                    "Index", new { sortingField = VideoSort.Language, isSortDescending = (ViewBag.SortingField == VideoSort.Language && !ViewBag.SortDescending) })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GenreNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TagNames)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @if (video.PreviewFileName != null)
                    {
                        <img src="~/upload/videoPreview/@video.PreviewFileName" alt="@video.Name preview" style="max-width: 5rem">
                    }
                    else
                    {
                        <img src="~/lib/other-icons/No-Image-Placeholder.svg" alt="No image" style="max-width: 5rem">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.ReleasedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.GenreNames)
                </td>
                <td>
                    @foreach (var tag in video.TagViewModels)
                    {
                        @Html.DisplayFor(model => tag, "_TagColor")
                    }
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = video.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = video.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = video.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}