@model PaginatedList<KVA.Cinema.ViewModels.VideoDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Videos List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Videos List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Videos", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by name:
            <input type="text" name="SearchString" value=@ViewBag.CurrentFilter />
            <input type="hidden" name="pageNumber" value="1" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Videos")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Preview)
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == VideoSort.Name.ToString()
                    ? $"Title {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Title",
                    "Index",
                    new
                    {
                        sortColumn = VideoSort.Name.ToString(),
                        isSortDescending = (ViewBag.SortColumn == VideoSort.Name.ToString() && !ViewBag.IsSortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == VideoSort.ReleasedIn.ToString()
                    ? $"Released in {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Released in",
                    "Index",
                    new
                    {
                        sortColumn = VideoSort.ReleasedIn.ToString(),
                        isSortDescending = (ViewBag.SortColumn == VideoSort.ReleasedIn.ToString() && !ViewBag.IsSortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == VideoSort.Language.ToString()
                    ? $"Language {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Language",
                    "Index",
                    new
                    {
                        sortColumn = VideoSort.Language.ToString(),
                        isSortDescending = (ViewBag.SortColumn == VideoSort.Language.ToString() && !ViewBag.IsSortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().GenreNames)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().TagNames)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var video in Model)
        {
            <tr>
                <td>
                    @if (video.PreviewFileName != null)
                    {
                        <img src="~/upload/videoPreview/@video.PreviewFileName" alt="@video.Name preview" style="max-width: 5rem">
                    }
                    else
                    {
                        <img src="~/lib/other-icons/No-Image-Placeholder.svg" alt="No image" style="max-width: 5rem">
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.ReleasedIn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.LanguageName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => video.GenreNames)
                </td>
                <td>
                    @foreach (var tag in video.TagViewModels)
                    {
                        @Html.DisplayFor(model => tag, "_TagColor")
                    }
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = video.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = video.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = video.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination");

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}