@model PaginatedList<KVA.Cinema.ViewModels.UserDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Users List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Users List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Users", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by name:
            <input type="text" name="searchString" value=@ViewBag.CurrentFilter />
            <input type="hidden" name="pageNumber" value="1" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Users")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == UserSort.Nickname.ToString()
                    ? $"Nickname {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Nickname",
                    "Index",
                    new
                        {
                            sortColumn = UserSort.Nickname.ToString(),
                            isSortDescending = (ViewBag.SortColumn == UserSort.Nickname.ToString() && !ViewBag.IsSortDescending),
                            searchString = ViewBag.CurrentFilter
                        })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == UserSort.FirstName.ToString()
                    ? $"First name {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "First name",
                    "Index",
                    new
                        {
                            sortColumn = UserSort.FirstName.ToString(),
                            isSortDescending = (ViewBag.SortColumn == UserSort.FirstName.ToString() && !ViewBag.IsSortDescending),
                            searchString = ViewBag.CurrentFilter
                        })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == UserSort.LastName.ToString()
                    ? $"Last name {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Last name",
                    "Index",
                    new
                        {
                            sortColumn = UserSort.LastName.ToString(),
                            isSortDescending = (ViewBag.SortColumn == UserSort.LastName.ToString() && !ViewBag.IsSortDescending),
                            searchString = ViewBag.CurrentFilter
                        })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == UserSort.BirthDate.ToString()
                    ? $"Birth date {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Birth date",
                    "Index",
                    new
                        {
                            sortColumn = UserSort.BirthDate.ToString(),
                            isSortDescending = (ViewBag.SortColumn == UserSort.BirthDate.ToString() && !ViewBag.IsSortDescending),
                            searchString = ViewBag.CurrentFilter
                        })
            </th>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == UserSort.Email.ToString()
                    ? $"Email {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Email",
                    "Index",
                    new
                        {
                            sortColumn = UserSort.Email.ToString(),
                            isSortDescending = (ViewBag.SortColumn == UserSort.Email.ToString() && !ViewBag.IsSortDescending),
                            searchString = ViewBag.CurrentFilter
                        })
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nickname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination");

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}