@model PaginatedList<KVA.Cinema.ViewModels.TagDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Tags List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tags List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Tags", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by tag text: <input type="text" name="SearchString" value=@ViewBag.CurrentFilter />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Tags")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(
                    ViewBag.SortingField == TagSort.Text
                    ? $"Text {(ViewBag.SortDescending ? "▾" : "▴")}"
                    : "Text",
                    "Index",
                    new
                    {
                        sortingField = TagSort.Text,
                        isSortDescending = (ViewBag.SortingField == TagSort.Text && !ViewBag.SortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Color)
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item, "_TagColor")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage() ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage() ? "disabled" : "";
}

@Html.ActionLink("«", "Index", "Tags",
                new
                {
                    pageNumber = 1,
                    searchString = ViewBag.CurrentFilter,
                    sortingField = ViewBag.SortingField
                },
                new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink("<", "Index", "Tags",
                 new
                 {
                     pageNumber = Model.PageIndex - 1,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink(">", "Index", "Tags",
                 new
                 {
                     pageNumber = Model.PageIndex + 1,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@Html.ActionLink("»", "Index", "Tags",
                 new
                 {
                     pageNumber = Model.PagesTotal,
                     searchString = ViewBag.CurrentFilter,
                     sortingField = ViewBag.SortingField
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
