@model PaginatedList<KVA.Cinema.ViewModels.LanguageDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Languages List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Languages List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Languages", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by name:
            <input type="text" name="SearchString" value=@ViewBag.CurrentFilter />
            <input type="hidden" name="pageNumber" value="1" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Languages")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == LanguageSort.Name.ToString()
                    ? $"Name {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Name",
                    "Index",
                    new
                    {
                        sortingField = LanguageSort.Name,
                        isSortDescending = (ViewBag.SortingField == LanguageSort.Name && !ViewBag.SortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)

                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("_Pagination");

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
