@model PaginatedList<KVA.Cinema.ViewModels.GenreDisplayViewModel>

@using KVA.Cinema.ViewModels;

@{
    ViewData["Title"] = "Genres List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Genres List</h1>

@if (User.Identity.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create", "Genres", null, new { @class = "btn btn-primary" })
    </p>
}

@using (Html.BeginForm())
{
    <div>
        <p>
            Find by title:
            <input type="text" name="SearchString" value=@ViewBag.CurrentFilter />
            <input type="hidden" name="pageNumber" value="1" />
            <input type="submit" value="Search" class="btn btn-light" /> |
            @Html.ActionLink("Reset filters", "Index", "Genres")
        </p>
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink(
                    ViewBag.SortColumn == GenreSort.Title.ToString()
                    ? $"Title {(ViewBag.IsSortDescending ? "▾" : "▴")}"
                    : "Title",
                    "Index",
                    new
                    {
                        sortColumn = GenreSort.Title.ToString(),
                        isSortDescending = (ViewBag.SortColumn == GenreSort.Title.ToString() && !ViewBag.IsSortDescending),
                        searchString = ViewBag.CurrentFilter
                    })
            </th>
            @if (User.Identity.IsAuthenticated)
            {
                <th><!--Header for Action links--></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>

                @if (User.Identity.IsAuthenticated)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { Id = item.Id }) |
                        @Html.ActionLink("Details", "Details", new { Id = item.Id }) |
                        @Html.ActionLink("Delete", "Delete", new { Id = item.Id })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage() ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage() ? "disabled" : "";
}

@Html.ActionLink("«", "Index", "Genres",
                new
                {
                    pageNumber = 1,
                    searchString = ViewBag.CurrentFilter,
                    sortColumn = ViewBag.SortColumn,
                    isSortDescending = ViewBag.IsSortDescending
                },
                new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink("<", "Index", "Genres",
                 new
                 {
                     pageNumber = Model.PageIndex - 1,
                     searchString = ViewBag.CurrentFilter,
                     sortColumn = ViewBag.SortColumn,
                     isSortDescending = ViewBag.IsSortDescending
                 },
                 new { @class = $"btn btn-light { prevDisabled }" })

@Html.ActionLink(">", "Index", "Genres",
                 new
                 {
                     pageNumber = Model.PageIndex + 1,
                     searchString = ViewBag.CurrentFilter,
                     sortColumn = ViewBag.SortColumn,
                     isSortDescending = ViewBag.IsSortDescending
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@Html.ActionLink("»", "Index", "Genres",
                 new
                 {
                     pageNumber = Model.PagesTotal,
                     searchString = ViewBag.CurrentFilter,
                     sortColumn = ViewBag.SortColumn,
                     isSortDescending = ViewBag.IsSortDescending
                 },
                 new { @class = $"btn btn-light { nextDisabled }" })

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
